<!DOCTYPE html>
    {% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}标题{% endblock %}</title>
    <link href="css/css.css">
{% block js %}
<script type="text/javascript"></script>
<script type="text/javascript">

    //显示当前时间
	function getTime() {
		//创建星期数组，必须按照顺序，星期日是一周中的第一天
		var week=new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
		//创建日期函数的对象
		var date=new Date();
		var y=date.getFullYear();
		var m=date.getMonth()+1;
		var d=date.getDate();
		var h=date.getHours();
		var min=date.getMinutes();
		var s=date.getSeconds();
		//获取一周中的第 天-1
		//var day=date.getDay();
		//alert(day);
		if (min<10) {
			min="0"+min;
		}
		if (s<10) {
			s="0"+s;
		}
		//时间写入div
		document.getElementById("time99").innerHTML=y+"年"+m+"月"+d+"日"+"	"+week[date.getDay()]+"	"+h+":"+min+":"+s;

	}
	//每隔一秒调用一次方法
	window.setInterval(getTime,1000);
</script>

{% endblock %}
</head>
<body ng-app="myApp" ng-controller="myCtrl">
{% block context %}
    <h3 id="time99"></h3>
    <div class="form-group">
            <input type="text" class="form-control" id="name"
          placeholder="请输入用户名" ng-model="username">
    </div>
    <div class="form-group">
            <input type="passwd" class="form-control" id="name"
          placeholder="请输入密码" ng-model="password">
    </div>
<button type="button" class="btn btn-primary" ng-click="my_submit()">保存</button>
    <p class="text-danger">[[ result ]]</p>
    {{ block.super }}

    <h1>
    {{ current_datetime }}
    </h1>

    <div id="tarticle">
        在{{ current_datetime }}
    </div>

    <div>

         {% include 'latest_books.html' %}
    </div>
现在的时间是：<h1 id="time">{{ current_datetime }}</h1>

<div class="one">使用数据库</div>
<div style="margin-top: 20px">
            <table width="100%" border="0" cellspacing="1" class="tab">

                <tr>
                    <th width="4%"></th>
                    <th width="4%">文章编号</th>
                    <th width="8%">标题</th>
                    <th width="6%">栏目编号</th>
                    <th width="10%">名字</th>
                </tr>

                {% for art in tarticle %}
                    <tr >
                        <td align="center"></td>
                        <td align="center">{{ art.0 }}</td>
                        <td align="center">{{ art.1 }}</td>
                        <td align="center">{{ art.2 }}</td>
                        <td align="center">{{ art.14 }}</td>
                    </tr>
                {% endfor %}



            </table>
</div>

<form method="get" action="polls">

<input type="text" data-model-name="one">
</form>

    {{ one }}
<br>
<br>
<br>
{% endblock %}


    {% for i in all %}
        <li>id:{{ i.id }}</li>
        <li>name:{{ i.name }}</li>
        <li>address:{{ i.address }}</li>
        <li>city:{{ i.city }}</li>
        <li>state_provice:{{ i.state_provice }}</li>
        <li>country:{{ i.country }}</li>
        <li>website:{{ i.website }}</li>
    {% endfor %}


</body>
</html>